<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="fw_cart" instance="FlavourWarehouse\PurchaseLimit\Observer\RestrictCartObserver" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="fw_checkout" instance="FlavourWarehouse\PurchaseLimit\Observer\RestrictCartObserver" />
    </event>
    <event name="controller_action_predispatch_multishipping_checkout_addresses">
        <observer name="fw_multi_address" instance="FlavourWarehouse\PurchaseLimit\Observer\RestrictCartObserver" />
    </event>
    <event name="controller_action_predispatch_multishipping_checkout_shipping">
        <observer name="fw_multi_shipping" instance="FlavourWarehouse\PurchaseLimit\Observer\RestrictCartObserver" />
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="fw_sales_order_invoice_pay" 
         instance="FlavourWarehouse\PurchaseLimit\Observer\InvoicePay" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="fw_sales_order_creditmemo_save_after" 
        instance="FlavourWarehouse\PurchaseLimit\Observer\CreditRefund"/>
    </event>
</config>