<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Push Notifications for Magento 2
*/-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\PushNotifications\Model\Processor\CampaignProcessor">
        <arguments>
            <argument name="customerSegmentsValidator" xsi:type="object">Amasty\PushNotifications\Model\CustomerSegmentsValidator\Proxy</argument>
        </arguments>
    </type>
</config>